<%- include('header'); %>

<div class="box about">
  <h2>Learn More About This Project...</h2>

  <p>You can find out more about how this project was built <a href="https://github.com/IsaiahSimon/remembr">here</a>.</p>
</div>

<%- include('footer'); %>
